* {
	margin: 0;
	padding: 0;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-decoration: none;
	list-style: none;
	font-family: 'Gill Sans', sans-serif;
}

body{
	min-height: 100vh;
	display: flexb;
	flex-direction: column;
}


a {
	color: inherit;
	font-weight: bolder;
}

.BG {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(36, 93, 156, 0.25), rgba(36, 93, 156, 0.25)), url("BG.jpeg");
	background-position: center;
	background-size: cover;
	overflow-y: scroll;
	overflow-x: hidden;
}

div.Logo {
	display: block;
	width: 10%;
}

div.Logo img {
	width: 100%;
}

div.NavBar {
	color: rgb(35, 93, 156);
	background-color: white;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding: 15px 0px;
}

div.NavBar nav ul {
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	transform: translateX(-30%);
}

div.NavBar nav ul li {
	padding: 5%;
	font: bolder;
	font-weight: bolder;
	position: relative;
}

.Main li::after {
	transition: 0.25s;
	content: "";
	height: 2px;
	width: 0%;
	position: absolute;
	background-color: rgb(233, 176, 32);
	top: 90%;
	right: 0px;
}

div.NavBar nav ul li:hover::after {
	width: 100%;
}

.burger {
	display: none;
}

.Body {
	text-align: center;
	text-shadow: 1px black;
}

.Body h1 {
	text-shadow: 1px 1px black;
	font-size: 30px;
	color: azure;
	font-family: 'Times New Roman', Times, serif;
}

.Body p {
	text-shadow: 1px 1px black;
	color: azure;
	font-size: 20px;
}

.Body button {
	margin: 20px;
	display: inline-block;
	background-color: transparent;
	color: azure;
	border: rgb(233, 176, 32) solid 2px;
	width: 130px;
	height: 40px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	z-index: 0;
	transition: 0.5s;
	text-shadow: 1px 1px black;
}

.Body button span {
	transition: 0.25s;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	background-color: rgb(233, 176, 32);
	width: 0%;
	height: 100%;
	z-index: -1;
}

.Body button:hover span {
	width: 100%;
}

.Body button:hover {
	border-color: transparent;
}

.burger {
	display: none;
}

.Talk {
	width: 48%;
	height: auto;
	text-align: left;
	margin-left: 1%;
	margin-bottom: 20px;
	background-image: radial-gradient(transparent, rgba(53, 53, 53, 0.6));
	border-radius: 20px;
}

.Body h2 {
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;
	color: rgb(255, 255, 255);
	text-align: left;
	margin-left: 10px;
	margin-bottom: 10px;
	text-shadow: 1px 1px black;
}

.Talk p {
	text-shadow: 1px 1px black;
	margin-left: 10px;
	text-shadow: 1px;
	margin-bottom: 10px;
}

.Divs {
	display: flex;
	flex-direction: row;
}

h3 {
	font-size: 10px;
	text-align: center;
}

footer{
	margin: auto;
	background-color: grey;
	position: relative;
	top: 80vh;
	width: 100%;
}

footer div {
	width: 100%;
	display: flex;
	justify-content: center;
	color: azure;
	padding-right: 10px;
	padding-left: 10px;
}

.CopyRight {
	padding: 1%;
	display: inline-block;
	margin: 0px;
}

@media(max-width: 800px) {
	* {
		overflow: hidden;
	}

	.BG {
		width: 100%;
		height: 100vh;
		background-image: linear-gradient(rgba(36, 93, 156, 0.25), rgba(36, 93, 156, 0.25)), url("BG.jpeg");
		background-position: center;
		background-size: 100%;
		overflow-y: scroll;
	}

	.Divs {
		display: flex;
		flex-direction: column;
	}

	.burger {
		display: flex;
		justify-content: right;
		margin-right: 1.5%;
		z-index: 2;
		color: rgb(35, 93, 156);
		position: absolute;
		right: 0%;
		top: 1%;
		background-color: white;
		padding: 1%;
		border-radius: 100%;
	}

	div.Logo {
		width: 30%;
	}

	div.NavBar nav ul {
		right: -120%;
		padding-top: 10%;
		padding-bottom: 0;
		border-left: solid 2px rgb(233, 176, 32);
		border-bottom: solid 2px rgb(233, 176, 32);
		display: flex;
		flex-direction: column;
		position: absolute;
		z-index: 1;
		background-color: rgb(255, 255, 255);
		top: 0px;
		transform: translateX(-15%);
		transition: 0.5s;
	}

	div.NavBar nav ul li {
		margin-bottom: 2%;
		font-size: 10px;
		text-align: left;
		padding: 0%;
		padding-left: 1%;
	}

	.Body h1 {
		font-size: 20px;
		color: azure;
	}

	.Body p {
		color: azure;
		font-size: 15px;
	}

	.Body h2 {
		font-size: 17px;
	}

	.Talk {
		width: 98%;
		margin-right: 1%;
	}

	.Talk p {
		font-size: 15px;
	}
}
